/* Global style definitions (and those that can't be captured by JSS) */

html {
  height: 100% !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  background-color: #ebf1f5 !important;
  height: 100% !important;
}

a {
  text-decoration: none !important;
}

#root {
  height: 100% !important;
}
